.navbar {
  background-color: #000!important;
  opacity: 0.8;
}

.fab.fa-apple {
  font-size: 21px;
  line-height: 0;
}

.navbar .nav-link {
  color: #fff;
}

.product {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 300px) {
  .product {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.product h2 {
  font-size: 21px;
  font-weight: 400;
}

@media (min-width: 300px) {
  .product h2 {
    font-size: 27px;
    font-weight: 400;
  }
}

.product h1 {
  font-size: 32px;
  font-weight: bold;
}

@media (min-width: 300px) {
  .product h1 {
    font-size: 56px;
    font-weight: bold;
  }
}

.product .h1 {
  font-size: 56px;
  font-weight: bold;
}

.product .links {
  font-size: 21px;
  margin-bottom: 50px;
}

@media (min-width: 300px) {
  .product .links {
    font-size: 21px;
    margin-bottom: 81px;
  }
}

.product .links .learn-more {
  margin-right: 20px;
}

.product.iphone-x {
  background-color: #f9f9f9;
}

.product.ipad {
  background-color: rgba(0,0,0,0.92);
}

.product.Macbook-pro {
  background-color: rgba(248,241,246,0.53);
}

@media (min-width: 300px) {
  .product.Macbook-pro {
    background-color: rgba(248,241,246,0.53);
    padding-bottom: 0px;
  }
}

.product-small {
  height: 550px;
  padding-top: 40px;
  margin: 0 0 10px 10px;
  text-align: center;
}

@media (min-width: 300px) {
  .product-small {
    margin: 0 0 10px 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.product-small h4 {
  font-size: 19px;
  font-weight: 400;
}

.product-small h3 {
  font-size: 32px;
  font-weight: bold;
}

.learn-more {
  margin-right: 20px;
}

.product-small {
  padding-top: 00px;
}

.fas.fa-play-circle {
}

.product-small.behind-the-mac {
  padding-top: 420px;
}

.airpod {
  background-color: #fafafa;
  padding-right: 10px;
}

.watch {
  background-color: #eeeeee;
}

.products-grid {
  padding-right: 10px;
}

@media (min-width: 300px) {
  .products-grid {
    padding-right: 10px;
    padding-right: 0px;
  }
}

.turnup {
}

.turnup {
  padding-right: 10px;
}

.iph8 {
  padding-right: 10px;
  padding-bottom: 10px;
}

